<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Feature Tests">
            <directory>tests/Features</directory>
        </testsuite>
        <testsuite name="Middleware Tests">
            <directory>tests/Middlewares</directory>
        </testsuite>
        <testsuite name="Unit Tests">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
