{% extends 'layout.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('products') }}
{% endblock %}

{% block title %}Products{% endblock %}

{% block content %}
    <div class="products container content-body">
        <div class="text-end mb-4">
            <a href="/admin/products/create" class="btn btn-primary">
                <i class="bi bi-plus-circle me-1"></i>
                New Product
            </a>
        </div>

        <div>
            <table id="productsTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Stock Quantity</th>
                        <th>Category</th>
                        <th>Created At</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <!-- Modal for New Product -->
    {% include 'products/add-stock.twig' %}


{% endblock %}
